# Ejercicio 1: Transformar cadenas

In [ ]:
text = """Interesting facts about the moon. The Moon is Earth's only satellite. There are several interesting facts about the moon and how it affects. On average the moon moves 4 cm away from the earth every year. This yearly drinft is not significant enough to cause inmediate effects on earth"""
text_parts = text.split('.')
text_parts

Primero, divide el texto en cada oración para trabajar con su contenido:

In [ ]:
text.split('.')

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

* palabras: average, temperature, distance

In [ ]:
KW = ["average","earth","satellite"]

Crea un bucle para imprimir solo los datos sobre la luna que estén relacionados con las palabras clave definidas anteriormente:

In [22]:
KW = ["average", "earth", "satellite"]

for sentence in text_parts:
    for Kword in KW:
        if Kword in sentence:
            print(sentence)
            break

 The Moon is Earth's only satellite
 On average the moon moves 4 cm away from the earth every year
 This yearly drinft is not significant enough to cause inmediate effects on earth

Finalmente, actualiza el bucle(ciclo) para cambiar cm a centimeters:

In [23]:
KW = ["average", "earth", "satellite"]

for sentence in text_parts:
    for Kword in KW:
        if Kword in sentence:
            print(sentence.replace('cm','centimeters'))
            break

 The Moon is Earth's only satellite
 On average the moon moves 4 centimeters away from the earth every year
 This yearly drinft is not significant enough to cause inmediate effects on earth

# Ejercicio 2: Formateando Cadenas

Datos

In [ ]:
# datos para trabajar

nombre = "Luna"
gravedad = 0.99162 # en km/s
planeta = "tierra"

* Crear Titulo

In [ ]:
# datos para trabajar

nombre = "Luna"
gravedad = 0.99162 # en km/s
planeta = "tierra"

titulo = f'Datos de gravedad de {nombre}'
titulo

* cadena de cadena multilínea para contener el resto de la información

In [34]:
plantillaInfo = f"""{'-'*100}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad * 1000}
 """

plantillaInfo

'----------------------------------------------------------------------------------------------------\nNombre del planeta: tierra\nGravedad en Luna: 991.6199999999999\n '

* Usa ambas variables para unir el titulo y la información

In [36]:
plantCompleta = f"""{titulo.title()}{plantillaInfo}"""
plantCompleta

'Datos De Gravedad De Luna----------------------------------------------------------------------------------------------------\nNombre del planeta: tierra\nGravedad en Luna: 991.6199999999999\n '

Nuevos datos de muestra
* planeta = 'Marte'
* gravedad = 0.00143
* nombre = 'ganímedes'

In [37]:
planeta = 'Marte'
gravedad = 0.00143
nombre = 'ganímedes'

print(plantCompleta)

Datos De Gravedad De Luna----------------------------------------------------------------------------------------------------
Nombre del planeta: tierra
Gravedad en Luna: 991.6199999999999

Nueva plantilla utilizando format()

In [48]:
plantFinal = """
Datos de la gravedad sobre {nombre}
--------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} ms/s
"""

print(plantFinal.format(nombre = nombre,planeta = planeta, gravedad = gravedad))

Datos de la gravedad sobre ganímedes
--------------------------------------------
Nombre del planeta: Marte
Gravedad en ganímedes: 0.00143 ms/s

In [49]:
print(plantFinal.format(nombre = nombre,planeta = planeta, gravedad = gravedad * 1000))

Datos de la gravedad sobre ganímedes
--------------------------------------------
Nombre del planeta: Marte
Gravedad en ganímedes: 1.4300000000000002 ms/s